<app-notification
  [show]="showError"
  type="error"
  [message]="errorMessage"
  (closed)="onErrorClosed()"
></app-notification>

<app-auth-layout
  footerText="Аккаунта нет, хочу создать его"
  footerLink="/auth/register"
>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col w-full mt-[72px]">
    <div class="flex flex-col items-center gap-[32px] w-full">
      <app-form-input
        class="w-full"
        label="Ваша почта"
        type="email"
        placeholder="hello@twinerooms.com"
        inputId="email"
        name="email"
        [control]="$any(loginForm.get('email'))"
        [submitted]="submitted"
      ></app-form-input>

      <app-form-input
        class="w-full"
        label="Ваш пароль"
        type="password"
        placeholder="qwerty12345"
        inputId="password"
        name="password"
        [control]="$any(loginForm.get('password'))"
        [submitted]="submitted"
      ></app-form-input>
    </div>

    <button
      type="submit"
      [disabled]="isLoading || loginForm.invalid"
      class="mt-[52px] w-full flex justify-center text-center items-center gap-[16px] text-[24px] text-white/90 rounded-full bg-(--original-color) h-[66px] font-semibold transition-all hover:text-white disabled:opacity-50 disabled:cursor-not-allowed hover:enabled:scale-[1.01]"
    >
      {{ isLoading ? 'Вход...' : 'Войти' }}
      <svg
        *ngIf="!isLoading"
        width="18"
        height="20"
        viewBox="0 0 18 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="transition-transform group-hover:translate-x-0.5"
      >
        <g clip-path="url(#clip0_32_215)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 2L7.7085 3.25376L14.5548 10.1H0V11.9H14.5548L7.7274 18.7273L9 20C12.2949 16.7051 14.8464 14.1536 18 11L9 2Z"
            fill="white"
            fill-opacity="0.9"
          />
        </g>
        <defs>
          <clipPath id="clip0_32_215">
            <rect width="18" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </button>
  </form>
</app-auth-layout>
